html {
	font-family: 'helvetica neue',arial,sans-serif;
	font-size: 15pt;
	text-align: center;
	letter-spacing: 0.1em;
}

body {
	background-color: #411b5a;
	color: whitesmoke;
	justify-content: space-around;
	height: 100vh;
	display: flex;
}

img {
	height: 100px;
	width: 100px;
}

.wrapper {
	display: grid;
	align-items: center;
}

.header {
	font-family: courier, monospace;
	position: relative;
}

#msgs {
	background-color: #412A65;
	color: yellow;
	border-radius: 15px;
	padding: 3px;
	line-height: 1.2 rem;
}

#controls {
	display: block;
}
.ctrls {
	position: relative;
	display: inline-block;
}

input, button {
	color: #411b5a;
	background-color: whitesmoke;
	background-blend-mode: multiply;
	border: none;
	outline: none;
	border-radius: 8px;
	opacity: 0.8;
	margin: 0;
	padding: 0.2em 0.4em 0.2em 0.4em;
	font-size: 0.8rem;
	text-align: center;
	font-weight: bold;
	font-family: 'courier new',courier, monospace;
}

button:hover {
	background-color: #fff;
	color: #411b5a;
	border: none;
	border-radius: 8px;
	-webkit-transition-duration: 0.8s; /* Safari */
	transition-duration: 0.8s;
	opacity: 1;
	cursor: pointer;
}

button:active {
	border: none;
	border-radius: 8px;
}

button:hover:after {
	background-color: none;
	-webkit-transition-duration: 0.6s; /* Safari */
	transition-duration: 0.6s;
}

button:visited {
	border: none;
	border-radius: 8px;
	}

.removed {
	display: none;
}

.hidden {
	visibility: hidden;
}

#togScale {
	opacity: 0.7;
	background-color: transparent;
}

#togScale:hover {
	opacity: 1;
	cursor: pointer;
	background-color: transparent;

}
